/**
 * -----------------------------------------------------------------------------
 * File: config/colors
 * -----------------------------------------------------------------------------
 */

$color-primary:     #000000;
$color-white:     #ffffff;

$color-primary:   #222222;
$color-secondary: #e94364;
$color-tertiary:  #f9f9f9;

// Notifications
$color-danger:  #ff0000;
$color-success: #55a630;
$color-info:    #ffdd00;

