/**
 * -----------------------------------------------------------------------------
 * File: layout/main
 * -----------------------------------------------------------------------------
 */

main.site {
  align-items: center;
  display: flex;
  min-height: 100vh;

  > div {
    @extend %inner-block;
  }
}